# Qualquer alteração no repositório precisa da aprovação do(s) dono(s).
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @uira182
